@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

@*<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("New prayer", "PrayerCreate", "Home")</li>
    <li>@Html.ActionLink("Prayer feed", "PrayerFeed", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>*@

<header>
    <div class="cover-image">
        <h1 id="logo">Слава Богу за все</h1>
        <!-- <iframe src="https://www.youtube.com/embed/KgtcrkI7R58?autoplay=1&controls=0&showinfo=0&autohide=1?html5=1"></iframe> -->
    </div>
    <nav role='navigation' id="panel">
        <a id="breathing-arrow">&#8744;</a>
    </nav>
</header>
<main class="content">
    <div class="wrap" id="home1">
        <div class="container">
            <div style="padding: 20px 20px;">
                <h1>Конструктор молитв</h1>
            </div>
            <p>Шаг 1. Для создания текста молитвы переместите нужные слова из левого поля и правое. Затем нажмите "Далее".</p>
        </div>

        <div class="container">
            <div class="layer block" id="block1">
                <div class="layer title">Слова</div>
                <ul id="foo" class="block__list block__list_words">
                    <li>прости</li>
                    <li>меня</li>
                    <li>грешного</li>
                    <li>,</li>
                    <li>совсем</li>
                    <li>не</li>
                    <li>молюсь</li>
                    <li>тебе</li>
                </ul>
            </div>
            <div class="layer block" id="block2">
                <div class="layer title">Mолитва</div>
                <ul id="bar" class="block__list block__list_tags">
                    <li>боже</li>
                    <li>,</li>
                </ul>
            </div>
        </div>


        <div class="container">
            <div class="button green center" id="btn1">Далее</div>
        </div>

    </div>
    <div class="wrap" id="home2">
        <div class="container">
            <div style="padding: 20px 20px;">

            </div>
            <p id="#step2">Шаг 2. Для выбора фоновой картинки для Вашей молитвы переместите нужную картинку из левого поля и правое. Затем нажмите "Готово".</p>
        </div>
        <!-- Images -->
        <div class="container">
            <div id="multi">

                <div class="layer block" id="block1">
                    <div class="layer title">Картинки</div>
                    <div id="smlimgs" class="block__list block__list_words">
                        <div class="tile__list">
                            <img src="~/Content/images/img_1.jpg" />
                            <img src="~/Content/images/img_2.jpg" />
                            <img src="~/Content/images/img_3.jpg" />
                            <img src="~/Content/images/img_4.jpg" />
                        </div>
                    </div>
                </div>
                <div class="layer block" id="block2">
                    <div class="layer title" data-force="30">Картинка для молитвы</div>
                    <div id="imgs" class="block__list block__list_tags">
                        <div class="tile__list" id="bigimg">
                            <img src="~/Content/images/img_5.jpg" />

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!--Image Upload + Crop -->
        <!--End of Image Upload + Crop -->
        <div class="container">
            <div class="button green center" id="btn2">Готово</div>
        </div>

    </div>
    <!-- Result -->
    <div class="wrap" id="home3">
        <div class="container">
            <div style="padding: 20px 20px;">
                <h1>Конструктор молитв</h1>
            </div>
            <p>Шаг 3. Для того, чтобы поделиться Вашей готовой молитвой с друзьями, нажмите "Поделиться". Если Вы хотите создать новую молитву, нажмите "Назад".</p>
        </div>

        <div class="container">
            <!-- Final Image -->

            <img src="images/img_final.jpg" style="width: 40%; display: block; margin: auto;" />
        </div>


        <div class="container">
            <a href="#popUp" id="openPopUp" style="text-decoration: none;"><div class="button green center">Поделиться</div></a>
            <div class="button blue center" id="btn4">Назад</div>
        </div>

        <!-- POP UP -->
        <div id="popUp" class="popup">
            <div class="popUpContainer">
                <header>
                    <a href="#!" class="closePopUp">X</a>
                    <!--<h4>Поделитесь с друзьями</h4>-->
                </header>
                <article>
                    <!--SM Buttons-->
                    <div class="entry-social">
                        <div class="fb">
                            <a href="#" target="_blank">Facebook</a>
                        </div>
                        <div class="twitter">
                            <a href="#" target="_blank">Twitter</a>
                        </div>
                        <div class="gplus">
                            <a href="#" target="_blank">Google+</a>
                        </div>
                        <div class="pinterest">
                            <a href="#" target="_blank">Pinterest</a>
                        </div>
                    </div>

                </article>
            </div>
            <a href="#!" class="closePopUpOutSide"></a>
        </div>
    </div>
</main>
<footer>
    <p>
        2015 © Творческое объединение <a href="http://monolast.com.ua/" style="color:white;">Моноласт</a>. Аминь.
    </p>
</footer>
<script src="~/Content/js/app.js"></script>
<script src="~/Content/js/index.js"></script>